{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Блог новостей</h1>
        <div class="links">
            <a href="{% url 'news-list' %}">Новости</a>
            <a href="{% url 'register-news' %}">Расскажи новость</a>
        </div>
    </header>
    <main>
        <div class="container">
            {% block news_list %}
            {% endblock %}
            {% block news_form %}
            {% endblock %}
        </div>
    </main>
</body>
</html>